img {
  width: 200px;
}
body {
  text-align: center;
  font-family: "Georgia", serif;
  background: rgb(75, 104, 218);
  color: rgb(6, 0, 128);
}
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; padding: 20px;
    width: 80%; max-width: 500px;
}
.close-button {
    float: right; cursor: pointer;
}